body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dadada;
}
header {
    background-color: #c4161c;
    color: white;
    padding: 10px 0;
    text-align: center;
}
h1 {
    margin: 0;
}
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo{

}

.descricao{
    font-style: italic;
}

.categoria{
    font-size: 0.8em;
}

article {
    display: flex;
    align-items: flex-start;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
article img {
    width: 150px;
    height: 100px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: lightgray;
}
article div {
    max-width: 800px;
}
article h2 {
    color: #c4161c;
    margin: 0 0 10px;
}
article p {
    margin: 0;
    color: #555;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #c4161c;
    color: white;
    width: 100%;
}
